---
import Arrow from "./icons/Arrow.astro";
import Graduation from "./icons/Graduation.astro";

type Breadcrumb = {
  name: string;
  url?: string;
};

export interface Props {
  crumbs: Breadcrumb[];
}

const { crumbs } = Astro.props;
---

<nav
  class="flex mb-24 bg-gray-50 text-gray-700 border border-gray-200 py-3 px-5 rounded-lg dark:bg-gray-800 dark:border-gray-700"
  aria-label="Breadcrumb"
>
  <ol class="flex items-center space-x-1 md:space-x-3">
    <li class="inline-flex items-center">
      <a
        href="/"
        class="gap-2 text-sm text-gray-700 hover:text-gray-900 inline-flex items-center dark:text-gray-400 dark:hover:text-white"
      >
        <Graduation /> Strategi
      </a>
    </li>

    {
      crumbs.map((crumb) => (
        <li>
          <div class="flex items-center">
            <Arrow />
            {crumb.url ? (
              <a
                href={crumb.url}
                class="text-gray-700 hover:text-gray-900 ml-1 md:ml-2 text-sm dark:text-gray-400 dark:hover:text-white"
              >
                {crumb.name}
              </a>
            ) : (
              <span class="text-gray-700 ml-1 md:ml-2 text-sm dark:text-gray-300">
                {crumb.name}
              </span>
            )}
          </div>
        </li>
      ))
    }
  </ol>
</nav>
