---
export interface Props {
  title: string;
}
const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="no">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.png" />
    <link rel="stylesheet" href="/main.css" />
    <meta name="generator" content={Astro.generator} />
    <title>{title} - Variant</title>
  </head>
  <body>
    <div class="absolute top-0 right-0">
      <a href="https://www.variant.no" class="hover:opacity-80"
        ><img src="/assets/images/logo.svg" alt="Variant" /></a
      >
    </div>
    <main class="max-w-prose prose-sky box-content mx-auto p-8">
      <slot />
    </main>
  </body>
</html>
