---
export interface Props {
  description: string;
  title: string;
}
const { title, description } = Astro.props;
---

<!DOCTYPE html>
<html lang="no">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.png" />
    <link rel="stylesheet" href="/main.css" />
    <meta name="generator" content={Astro.generator} />
    <title>{title} - Variant</title>

    <meta
      name="description"
      content={`${description}. Strategier tilgjengelig under CC-BY SA 4.0`}
    />
  </head>
  <body>
    <div class="max-w-prose mx-auto flex justify-center p-8">
      <a href="https://www.variant.no" class="block hover:opacity-80"
        ><img
          class="block max-w-[8rem]"
          src="/assets/images/variant_farge.svg"
          alt="Variant"
        /></a
      >
    </div>
    <main class="max-w-prose prose-sky box-content mx-auto p-8">
      <slot />
    </main>
  </body>
</html>
